.hidden :is(.dropdown-content) {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.15s ease-in;
}
.toggle-dropdown {
  all: unset;
  width: 100%;
}
.dropdown-content {
  max-height: 100vh;
  overflow: hidden;
  transition: max-height 0.25s ease-in;
}
.dropdown-name {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}
.rotate {
  animation: rotate-dropdown 0.25s ease-out forwards;
}
@keyframes rotate-dropdown {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
.icon {
  display: inline-block;
  margin: 0rem 0.4rem;
}
