.filter-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.filter-list > * {
  border-bottom: 1px solid black;
  padding: 0.5rem 0rem;
}
.filter-list > :last-child {
  border-bottom: none;
}
