@import "../../variables.css";

nav.main-nav {
  padding: 1rem;
}
ul.main-nav__links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.main-nav__link {
  padding: 0.6rem 0.3rem;
  text-decoration: none;
  margin: 0.4rem;
  color: var(--main-link-color);
  font-size: 1.6rem;
}
