@import "../../variables.css";

nav.main-nav {
  padding: 1rem;
}
ul.main-nav__links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.main-nav__link {
  text-decoration: none;
  margin: 0.2rem 0.4rem 0rem;
  color: var(--main-link-color);
  font-size: 1.6rem;
  position: relative;
}
.main-nav__link:hover {
  border-bottom: 2px solid gainsboro;
}
